body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f5f5f5; */
    /* background-image: url('b1.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    object-fit: contain; */
    /* background-image: linear-gradient(to left,  #544f4f 0%, hsl(0, 25%, 95%) 75% ); */

    background-color:#2B2730;

}


.calculator {
    width: 400px;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px; /* Increase the padding */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; 
    background-color: #7895CB;
}

.cal {
    grid-column: span 4;
    text-align: center;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 10px;
font-family: Georgia, 'Times New Roman', serif;
font-size: larger;

}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 30px; /* Increase the font size */
}

.btn {
    font-size: 30px; /* Increase the font size */
    padding: 15px; /* Increase the padding */
    text-align: center;
    background-color: #ddd;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: hwb(0 18% 81%);
}

.btn-number {
    background-color: #3498db;
    color: #fff;
}

.btn-operator {
    background-color: #27ae60;
    color: #fff;
}

.btn-equals {
    background-color: #e74c3c;
    color: #fff;
}
/* button {
    border-radius: 30%;
} */
